.summary-content {
  overflow: hidden;
}
.widgets {
  padding-top: 10px;
}
.tab-bar {
  text-decoration: none;
  font-size: 15px;
  background-image: linear-gradient(to bottom, #ffffffd2, #ffffffce);
  border-radius: 5px;
  color: hsl(0, 0%, 37%) !important;
}
.table-container {
  background-color: #ffffff;
  border-radius: 2px;
}
.inner-bar {
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  color: #000000;
  border-radius: 10px;
  padding: 2px;
}
.sidebar {
  background-image: linear-gradient(to right, #13043dd2, #0a011fce);
}
.header-sticky {
  margin-bottom: 5px !important;
}
.header-brand {
  visibility: hidden;
}
.sidebar-nav .nav-link {
  color: white;
  fill: white;
}
.innerHedder h4 {
  color: #bebebe;
  margin: 5px;
  padding-bottom: 10px;
}
.inner-hedder {
  margin-top: 5px;
  border-radius: 20px;
}
.Allocated-innerHedder {
  padding-bottom: 10px;
}
.searchBox {
  height: 10px;
}
.Search-box {
  background-color: #000000;
}
.carousels {
  padding-bottom: 100px;
}
.table2 {
  min-width: 100%;
  overflow-x: auto;
}
.button1 {
  background: linear-gradient(to right, #19a3e9, #090268);
  border: black;
  float: right;
}

.vertical-center {
  left: 50%;
  margin: 0;
  height: 35px;
  width: 100px;
  position: relative;
  border-radius: 5%;
  color: #1c0507;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background: linear-gradient(to right, #19a3e9, #090268);
  border: black;
  float: right;
}
.buttons {
  float: left;
}
//   .footer{
//       height: 100px;
//       background-image: linear-gradient(to right, #ffffff, #ffffff);
//       color: #ffffff;
//       float: center;
//       text-align: center;
//       text-decoration: none;
//   }
// npm run lint -- --fix
